@import url(../css/initial.css);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_logo {
  position: absolute;
  top: 16px;
  left: 116px;
}

.header__burger {
  display: none;
  position: relative;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 20px;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: #555555;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.header__link:hover {
  color: #5363db;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 20px;
    position: relative;
    z-index: 100;
    top: 0px;
    right: 15px;
  }
  .header__burger span {
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 360px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #b4bbeb;
    padding: 70px 10px 20px 10px;
    z-index: 99;
    opacity: 0.9;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 24px;
  }
}

.section_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/bg-01.jpg) no-repeat center;
  height: auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_1 .section_1-bg {
  background-color: #5363db;
  opacity: 0.9;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 10px;
}

@media (max-width: 360px) {
  .section_1 .section_1-bg {
    padding: 0;
  }
  .section_1 .section_1-bg .section_1_text {
    padding-left: 10px;
  }
  .section_1 .section_1-bg .section_1_text h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .section_1 .section_1-bg .section_1_text p {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 685px) {
  .section_1 .section_1-bg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

.section_1 .section_1_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: auto;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 20px 30px;
}

.section_1 .section_1_form h2 {
  font-family: "Open Sans";
  font-size: 25.7px;
  line-height: 1.2;
  font-weight: 600;
  color: #5363db;
}

.section_1 .section_1_form p {
  text-align: center;
}

.section_1 .section_1_form .input-text,
.section_1 .section_1_form .input-number,
.section_1 .section_1_form .form1 {
  width: 240px;
  height: 50px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  padding-left: 10px;
}

.section_1 .section_1_form .input_form1 {
  width: 170px;
  height: 50px;
  background-color: #5b6ceb;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.section_1 .input_form1:hover {
  background: rgba(181, 15, 15, 0.66);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2px 27px rgba(61, 61, 61, 0.18);
          box-shadow: 0 2px 27px rgba(61, 61, 61, 0.18);
}

.section_1 .section_1_text {
  padding-left: 40px;
}

.section_1 .section_1_text h2 {
  font-family: "Open Sans";
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.section_1 .section_1_text p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.section_2 {
  width: 100%;
  height: auto;
}

.section_2 .section_2_text {
  height: 250px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.section_2 h3 {
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b6ceb;
}

.section_2 p {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 41px;
  line-height: 61px;
  font-weight: 400;
  color: #777777;
}

.section_2_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 120px;
}

.section_2_card_1 {
  width: 40%;
  height: auto;
  margin: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_2_card_1 img {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.section_2_card_1 .section_2_card_1-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_2_card_1 .section_2_card_1-text h3 {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #777777;
}

.section_2_card_1 .section_2_card_1-text h3 a {
  text-decoration: none;
  color: #777777;
}

.section_2_card_1 .section_2_card_1-text p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #555555;
}

.section_2_card_1 .section_2_card_1-text .pointer {
  cursor: pointer;
  color: #999999;
  padding-top: 5px;
}

@media (max-width: 550px) {
  .section_2_cards {
    width: 100%;
    padding-bottom: 20px;
  }
  .section_2_cards .section_2_card_1 {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 12px 0px;
  }
  .section_2_cards .section_2_card_1 img {
    width: 100%;
    height: auto;
  }
  .section_2_cards .section_2_card_1 .section_2_card_1-text {
    width: 100%;
  }
}

.section_3 {
  width: 100%;
  height: auto;
}

.section_3 .Photo_Block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_3 .section3-ph {
  width: 25%;
  position: relative;
  line-height: 3;
  text-align: center;
  cursor: pointer;
}

.section_3 .section3-ph img {
  width: 100%;
}

.section_3 .section3-ph:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  background: #5b6ceb;
  opacity: 0.9;
  height: 100%;
  left: 0;
  top: 0;
}

.section_3 .section3-ph:hover::after {
  position: absolute;
  content: "\1F50D";
  width: 30px;
  background: white;
  line-height: 2;
  height: 30px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media (max-width: 550px) {
  .section_3 .section3-ph {
    width: 50%;
  }
}

.section_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px;
}

.section_4 .section_4-text {
  width: 50%;
  padding: 20px;
}

.section_4 .section_4-text h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b6ceb;
}

.section_4 .section_4-text p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #555555;
}

.section_4 .section_4-img {
  width: 50%;
  height: auto;
}

.section_4 .section_4-img img {
  width: 100%;
  height: 400px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 0px;
  }
  .slick-dots {
    width: 90%;
  }
}

@media (max-width: 710px) {
  .section_4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .section_4 .section_4-text {
    width: 100%;
    height: auto;
    padding: 0 15px 20px;
  }
  .section_4 .section_4-img {
    width: 100%;
    height: auto;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.section_5 {
  width: 100%;
  height: auto;
  background: url(/images/bg-02.jpg) no-repeat center #5363db;
  background-size: auto;
}

.section_5 .section_5-allcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5363db;
  opacity: 0.9;
}

@media (max-width: 450px) {
  .section_5 .section_5-allcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  .section_5 .section_5-allcard .section_5card {
    width: 95%;
    margin: 25px 0;
  }
}

.section_5 .section_5card {
  width: 25%;
  height: auto;
  text-align: center;
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
}

.section_5 .section_5card img {
  border-radius: 50%;
  vertical-align: top;
  border: 1px solid #fff;
  width: 70px;
  height: 70px;
  -o-object-fit: none;
  object-fit: none;
}

.section_5 .section_5card h3 {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.section_5 .section_5card p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 768px) {
  .section_5 .section_5card {
    width: 25%;
  }
}

@media (max-width: 500px) {
  .section_5 .section_5card {
    width: 33%;
  }
}

@media (max-width: 320px) {
  .section_5 .section_5card {
    width: 100%;
  }
}

.section_6 .section_6-allcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/bg-03.jpg) no-repeat center;
  width: 100%;
  height: auto;
}

.section_6 .section_6-allcard .section6-card1 {
  width: 26%;
  margin: 40px 0;
}

@media (max-width: 992px) {
  .section_6 .section_6-allcard .section6-card1 {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .section_6 .section_6-allcard .section6-card1 {
    width: 75%;
  }
}

@media (max-width: 400px) {
  .section_6 .section_6-allcard .section6-card1 {
    width: 95%;
  }
}

.section_6 .section_6-allcard .section_6card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 150px;
  background-color: #5b6ceb;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.section_6 .section_6-allcard .section_6card-top .sec6p1 {
  font-family: "Open Sans";
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.section_6 .section_6-allcard .section_6card-top .sec6p2 {
  font-family: "Open Sans";
  font-size: 67.4px;
  line-height: 75px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 5px;
}

.section_6 .section_6-allcard .section_6card-top .sec6p3 {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 25px;
}

.section_6 .section_6-allcard .section_6-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 340px;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 6px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 50px 0px rgba(0, 0, 0, 0.1);
}

.section_6 .section_6-allcard p {
  font-size: 18px;
  line-height: 50px;
  font-weight: 400;
  color: #555555;
}

.section_6 .section_6-allcard a {
  width: 170px;
  height: 50px;
  background-color: #5b6ceb;
  border-radius: 17px;
  text-align: center;
  font-size: 18px;
  line-height: 2.5;
  font-weight: 600;
  color: #ffffff;
}

.section_6 .btn:hover {
  background: rgba(181, 15, 15, 0.66);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2px 27px rgba(61, 61, 61, 0.18);
          box-shadow: 0 2px 27px rgba(61, 61, 61, 0.18);
}

@media (max-width: 953px) {
  .section_6 .section_6-body p {
    font-size: 16px;
    line-height: 45px;
    font-weight: 400;
  }
}

@media (max-width: 813px) {
  .section_6 .section_6-body p {
    font-size: 15px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  .section_6 .section_6-body p {
    font-size: 17px;
    line-height: 36px;
  }
  .section_6 .section_6card-top {
    margin-top: 15px;
  }
  .section_6 .section_6card-top .sec6p2 {
    font-size: 55.4px;
  }
}

@media (max-width: 573px) {
  .section_6 .section_6-allcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 573px) {
  .section_6 .section_6-body p {
    font-size: 16px;
    line-height: 35px;
  }
}

@media (max-width: 400px) {
  .section_6 .section_6-body p {
    font-size: 17px;
    line-height: 40px;
  }
}

.footer_main {
  padding: 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #5b6ceb;
}

.footer_left {
  width: 45%;
}

.footer_left h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
}

.footer_left .footer_main-left p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer_left .social_net i {
  color: #ffffff;
  font-size: 20px;
}

.social_net a:hover i {
  color: black;
}

.footer_right {
  width: 45%;
}

.footer_right h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 30px;
}

.footer_right .bottom_list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_right .bottom_list-right li,
.footer_right .bottom_list-right address,
.footer_right .bottom_list-right a {
  width: calc(100% / 2);
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.bottom_list-right a:hover,
.bottom_list-right address:hover {
  color: black;
  border-radius: 20px;
}

.bottom_list-right i:hover {
  color: #ffffff;
}

.footer_bottom {
  background-color: #5363d8;
  text-align: center;
  height: 100px;
}

.footer_bottom p {
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 100px;
  font-weight: 400;
  color: #b7bffc;
}

@media (max-width: 630px) {
  .footer_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_right {
    width: 80%;
    display: none;
  }
  .footer_left {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_right {
    width: 90%;
  }
  .footer_right .bottom_list-right {
    padding-left: 5px;
  }
  .footer_left {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .footer_bottom {
    height: 50px;
  }
  .footer_bottom p {
    line-height: 50px;
  }
}
